.container {
    height: 70px;
    background-color: darkblue;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.wrapper {
    display: flex;
    padding: 10px 70px;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 40px;
    width: 80px;
    object-fit: cover;
    margin-right: -40px;
}

.mobile{
    display: none;
}

.center {
    display: flex;
    height: 30px;
    width: 400px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}

.inputItem>input {
    border: none;
    background-color: none;
    margin: 0 10px;
}

.inputItem>input:focus {
    outline: none;
}

.iconSearch {
    color: darkblue;
    margin-right: 7px;
}

.right {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.menuItem {
    color: #ffb50f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItem:hover {
    font-size: 20px;
}

.menuItem>span {
    font-size: 12px;
    color:#fff;
    cursor: pointer;
}

.badge {
    background-color: rgb(50, 130, 241);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    margin-left: 30px;
    top: 15px;
    color: #fff;
}

.menuItemM{
    display: none;
}



@media screen and (max-width: 750px) {

    .container{
        background-color: #fff;
        border:1px solid gray;
    }
    .logo{
        display: none;
    }

    .left > div > h3{
        display: none;
    }

    .mobile{
        display: flex;
        color: black;
        font-size: 30px;
    }

    /* .center{
        width: 30px;
    } */
    .inputItem{
        display: none;
    }
    .iconSearch{
        margin-left: 10px;
        font-size: 30px;
        color: black;
    }

    .menuItem{
        display: none;
    }

    .menuItemM{
        display: flex;
        color: black;
        font-size: 30px;
    }
    .badge{
        font-size: 15px;
        margin-left: 15px;

    }
}